Source: anbox
Section: utils
Priority: optional
Maintainer: Shengjing Zhu <i@zhsj.me>
Build-Depends: cmake,
 debhelper (>= 10),
 dh-exec,
 dkms,
 googletest,
 libcap-dev,
 libegl1-mesa-dev,
 libgles2-mesa-dev,
 libglm-dev,
 libboost-filesystem-dev,
 libboost-iostreams-dev,
 libboost-log-dev,
 libboost-program-options-dev,
 libboost-system-dev,
 libboost-test-dev,
 libdbus-cpp-dev,
 libprocess-cpp-dev,
 libprotobuf-dev,
 libsdl2-dev,
 libsdl2-image-dev,
 lxc-dev,
 protobuf-compiler,
Standards-Version: 4.0.0
Homepage: https://anbox.io
Vcs-Git: https://github.com/zhsj/anbox.git
Vcs-Browser: https://github.com/zhsj/anbox

Package: anbox
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 anbox-modules,
 iptables,
 lxc
Description: Android in a box
 Run Android applications on any GNU/Linux operating system.

Package: anbox-dkms
Architecture: all
Depends: ${misc:Depends}
Provides: anbox-modules
Description: Kernel module for Anbox
 This package contains a out-of-tree version of the core Android
 kernel functionalities binder and ashmem.
