Source: anbox
Section: contrib/utils
Priority: optional
Maintainer: Shengjing Zhu <i@zhsj.me>
Build-Depends:
 cmake,
 debhelper (>= 10),
 dkms,
 libboost-filesystem-dev,
 libboost-iostreams-dev,
 libboost-log-dev,
 libboost-program-options-dev,
 libboost-system-dev,
 libboost-test-dev,
 libcap-dev,
 libegl1-mesa-dev,
 libgles2-mesa-dev,
 libglm-dev,
 libgmock-dev,
 libproperties-cpp-dev,
 libprotobuf-dev,
 libsdl2-dev,
 libsdl2-image-dev,
 libsystemd-dev,
 lxc-dev,
 protobuf-compiler,
 python (<< 2.8),
Standards-Version: 4.1.4
Homepage: https://anbox.io
Vcs-Git: https://github.com/zhsj/anbox.git
Vcs-Browser: https://github.com/zhsj/anbox

Package: anbox
Architecture: amd64
Depends:
 anbox-dkms | anbox-modules,
 iptables,
 lxc,
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 dbus-user-session,
Description: Android in a box
 Run Android applications on any GNU/Linux operating system.

Package: anbox-dkms
Architecture: all
Depends:
 ${misc:Depends},
Description: Kernel module for Anbox
 This package contains a out-of-tree version of the core Android
 kernel functionalities binder and ashmem.
