#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH) \
		-DANBOX_VERSION=$(DEB_VERSION) \
		-DANBOX_VERSION_SUFFIX=$(DEB_VENDOR)

override_dh_auto_install:
	dh_auto_install
	rm -rf $(CURDIR)/debian/anbox/usr/lib/backward
	rm -rf $(CURDIR)/debian/anbox/usr/include
	install -m644 snap/gui/icon.png $(CURDIR)/debian/anbox/usr/share/pixmaps/anbox.png
